@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face { 
    font-family: "OpenSans"; 
    src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf"); 
} 
p { 
    font-family: "Mystery Quest", cursive; 
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.ulnav{
    
    width: 100%;
    justify-content: flex-end;
}

.icono{
    padding-bottom: auto;
}

.nav-link{
    font-family: 'Mystery Quest', cursive ;
    font-size: 150%;

}
/*Para hacer modificaciones que no requieran de BS*/
.headermod{
    top: 0px;
    position: sticky;
    background-color: rgba(240, 248, 255, 0.647);
    height: 60%;
    z-index: 100;
    

}

.body{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../assets/images/background.jpg");
    background-repeat: no-repeat;/*no repite la imagen*/
    background-size: cover;/*la imagen se estira para entrar en el contenedor*/
    background-position: center;/*si la imagen no ocupa todo el contenedor se puede centrar*/
    background-attachment: fixed;/*esto hace que la imagen siempre este fija, y el contenido se mueva*/
}

.grid{
    
    display: grid;
    grid-template-columns: 70vw 20vw;
    grid-template-rows: 60vh;
    gap: 10px;

}

.texto{
    padding-left: 220px;
    font-family: 'Mystery Quest', cursive ;
    color: aliceblue;
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;

}

.imagenes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items:center;
    justify-content:center;
    padding-right: 25px;
}

.titulotexto{
    color: aliceblue;
    display:flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;

}
.footertexto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(186, 180, 125);
   height: 5%;
    left: 0;
    bottom: 0;
    width: 100%;
}
.card.index{
    background-color: beige;
}
.card-group{
    display: flex;
    gap: 10px;
    height: 50vh;
    width: 70%;
    padding-bottom: 10px;
}

/*Hecho para poder justificar las cartas*/
.espaciocartas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-img-top{
    width: 60%;
    height: 40%;
    display: block;
    margin: auto;
    bottom: 16px;
}

/*nosotros.html*/

.mainnosotros{
    background-color: beige;
}

.titulotextonosotros{
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;

}
.textomotivos{
    text-align: center;
    
}

.parrafomotivos{
    padding-left: 20vh;
    padding-right: 20vh;
    text-align: justify;
}

.video{

    display:flex;
    flex-direction: column;
    border-width: 150px;
    margin-left: 20vh;
    background-color: rgba(0, 0, 0, 0.319);
    width: 50%;
    align-items:center;
    justify-content:center;
    text-align: center;
}

iframe{
    padding-bottom: 10px;
}

/*adopta*/

.HeaderModAdopta{

    width:auto;
    height: 96px;

}

.MainAdopta{
    background-color: beige;
}
.card.adopt{
    height: 30vh;
    width: 70vh;
    
}

.card-img{
    height: 30vh;
    width: 70vh;
    filter: brightness(50%);
}

.card-text.adop{
    padding-top: 80px;
}

.adopcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.textoadopta{
    padding-left: 20px;
}
   